.navigationMenu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    left: -100vw;
    transition: left 0.5s, opacity 0.5s;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(58, 49, 79) 0%, rgba(1,2,4,1) 25%,  rgba(1,2,4,1) 80%, rgba(58, 49, 79,1) 100%);
    z-index: 2;
}

.navigationMenuOpen {
    composes: navigationMenu;
    opacity: 1;
    left: 0;
}

.header {
    width: 100%;
    display: flex;
    height: 85px;
    border-bottom: 1px solid rgba(61, 61, 61, 0.8);
}

.headerInnerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    width: 188px;
    left: calc(50% - (188px / 2));
}

.closeBtn {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    height: 35px;
}

.content {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.navigationLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.navigationLinksItem {
    font-family: 'Inter SemiBold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    color: #FFFFFF;
    margin: 20px 0;
}

.navigationLinksItem:hover {
    text-decoration: underline;
}

.socialLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    align-self: center;
    position: relative;
    top: -30px;
    height: 100%;
    max-height: 400px;
}

.socialLinksItem {
    /*margin: 30px 0;*/
    width: 45px;
    height: 45px;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.socialLinksItem:hover {
    filter: unset;
}

@media (max-width: 1080px) {
    .logo {
        width: 112px;
        left: calc(50% - (112px / 2));
    }
    .header {
        height: 70px;
    }
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .navigationLinksItem {
        font-size: 24px;
    }
    .socialLinks {
        flex-direction: row;
        margin-bottom: 100px;
        height: unset;
    }
    .socialLinksItem {
        margin: 0 10px;
    }
    .NavigationMenu {
        opacity: 1;
    }
}
