.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.navigationMenu {
    position: fixed;
    width: 300px;
    height: 95vh;
    top: 2.5vh;
    padding: 18px 25px;
    opacity: 0;
    right: 100vw;
    transition: left 0.5s, opacity 0.5s;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    border-radius: 12px;
}

.navigationMenuOpen {
    composes: navigationMenu;
    opacity: 1;
    right: 20px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.closeBtn {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.content {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.navigationLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.navigationLinksItem {
    font-family: 'Raleway Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 15px 0;
}

.navigationLinksItem:hover {
    color: var(--color-blue);
}

.name {
    font-family: 'Raleway Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 10px 0 0;
}
