.eventsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section {
    background: rgb(51,57,65,0.2);
    border-radius: 9px;
    padding: 20px 50px;
    max-width: var(--width);
    margin: 30px 0;
}
.profile {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    --width: 782px;
}

.profileWrapper {
    font-family: 'Raleway Medium', sans-serif;
    max-width: var(--width);
}

.random{ margin-left: 10px}

.lvl {
    width: 45px;
    height: 45px;
    background: var(--color-blue);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway Medium', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0;
}
.picture {
    margin-top: 50px;
    margin-bottom: 70px;
    max-width: var(--width);
    height: 179px;
    background-image: url("../../assets/img/profile-image.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}


.bar {
    display: flex;
    justify-content: space-between;
    height: 42px;
    max-width: var(--width);
    flex-wrap: wrap;
    color: var(--color-white);
    font-weight: 600;
    font-size: 24px;
}

.barFlex {
    display: flex;
    align-items: center;
}

.par {
    margin: 0 0 0 10px;
    text-align: center;
}

.number {
    border-radius: 50% 50%;
    width: 42px;
    height: 42px;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.button {
    display: flex;
    background-color: var(--color-dark);
    color: var(--color-white);
    width: 150px;
    border-radius: 6px;
    border: none;
    align-items: center;
    padding-left: 20px;
}



.progress {
    display: block;
}

