.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 80px 0 50px 0;
}

.title {
    font-family: 'Raleway Bold', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.text {
    font-family: 'Raleway Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    max-width: 750px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
