.header {
    --w-header: 100%;
    width: var(--w-header);
    height: 65px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--color-primary);
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}

.right {
    display: flex;
    justify-content: right;
}

.left {
    display: flex;
    justify-content: left;
}
.s{
    display: block;
}

.logo {
    align-items: center;
    display: flex;
    margin-right: 20px;
}

@media (max-height: 720px) {
    .s {
        visibility: hidden;
    }
}
