.section {
    background: rgba(12, 15, 18, 0.7);
    border-radius: 9px;
    padding: 20px 50px;
    width: 100%;
    margin: 30px 0;
}

.activityContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
