.footer {
    display: flex;
    justify-content: center;
    height: 150px;
    background: var(--color-primary);
    color: var(--color-white);
    padding-top: 29px;
}

.left {
    padding-right: 50px;
    display: block;
}

.right {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

.heading {
    font-size: 14px;
    font-weight: 600;
}

.paragraph {
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 2px;
}

.button {
    width: 85px;
    height: 23px;
    border-radius: 6px;
    font-size: 10px;
    color: var(--color-white);
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
}

.box {
    width: 256px;
    border-radius: 9px;
    border: 1px solid var(--color-blue);
    padding-left: 23px;
    padding-right: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: block;
    width: 180px;
    text-align: left;

}